![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Name: Mohammad Wasiq

## E-mail: `mohammadwasiq0786@gmail.com`

### SQL Assignment - 1

**Q1 :** Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as `<Worker_Name>`

**Ans :**

```sql
SELECT FIRST_NAME AS WORKER_NAME FROM Worker;
```

**Q2 :** Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

**Ans :**

```sql
SELECT DISTINCT DEPARTMENT FROM Worker; 
```

**Q3 :** Write an SQL query to show the last 5 record from a table.

**Ans :**

```sql
SELECT*FROM Worker ORDER by id DESC LIMIT 5;
```