![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Name: Mohammad Wasiq

## E-mail: `mohammadwasiq0786@gmail.com`

### SQL Assignment - 3

**Q1 :** Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side. 

**Ans :**

```sql
SELECT RTRIM(FIRST_NAME) FROM Worker;
```

**Q2 :** Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

**Ans :**

```sql
SELECT DISTINCT(DEPARTMENT),LEN(DEPARTMENT) FROM Worker;
```

**Q3 :** Write an SQL query to fetch nth max salaries from a table.

**Ans :**

```sql
SELECT DISTINCT(Salary) FROM Worker ORDER BY Salary DESC LIMIT 1 OFFSET n;
```