![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Name: Mohammad Wasiq

## E-mail: `mohammadwasiq0786@gmail.com`

### SQL Assignment - 4

**Q1 :** Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

**Ans :**

```sql
SELECT REPLACE(FIRST_NAME, 'a', 'A') FROM Wokrer; 
```

**Q2 :** Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

**Ans :**

```sql
SELECT * FROM Worker ORDER BY FIRST_NAME ASC, LAST_NAME DESC;
```

**Q3 :** Write an SQL query to fetch the names of workers who earn the highest salary.

**Ans :**

```sql
SELECT FIRST_NAME, LAST_NAME FROM Worker WHERE SALARY =(SELECT MAX(SALARY) FROM Worker);
```