![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Name: Mohammad Wasiq

## E-mail: `mohammadwasiq0786@gmail.com`

### SQL Assignment - 9

**Q1 :** Write an SQL query to show the top n (say 10) records of a table. 

**Ans :** `SELECT TOP 10 * FROM Worker;` --Top Keyword is not supported by Many Popular Databases 


```sql
SELECT * FROM Worker LIMIT 10; 
```

**Q2 :** Write an SQL query to determine the nth (say n=5) highest salary from a table. 

**Ans :**

```sql
SELECT DISTINCT(Salary) FROM Worker ORDER BY DESC LIMIT 1 OFFSET 5;
```